window {
    margin: 5px;
    border: 0px solid {{background}};
    background-color: rgba(0,0,0,0);
    border-radius: 0px;
}

#input {
    margin: 0px 0px 5px;
    padding-left: 20px;
    border: none;
    color: color: {{foreground}};;
    font-weight: bold;
    background-color: {{background}};
   	outline: none;
    border-radius: 20px;
}
#input:focus {
    border: 0px solid {{background}};
    margin-bottom: 0px;
}

#inner-box {
    margin: 0px;
    border: 0px solid {{background}};
    background-color: {{background}};
    color: rgba(243, 240, 234, 0.5);
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
    background-color: {{background}};
}

#scroll {
    margin: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    /* background: rgb(255,255,255); */
}

#text:selected {
    color: {{foreground}};
    margin: 0px 0px;
    border: none;
    font-weight: bold;
    border-radius: 15px;
    background-color: {{color0}};
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: {{color0}};
}
